@import "tailwindcss";



@theme{


  
    --color-kosma-green-900: #202821;
    --color-kosma-green-800: #2b3a31;
    --color-kosma-green-700: #3e4e40;
    --color-kosma-green-600: #4a5b4c;
    --color-kosma-green-500: #515d54;
    --color-kosma-green-400: #4a5b4c;
    --color-kosma-green-300: #69816b;
    --color-kosma-green-200: #88a78a;
    --color-kosma-green-100: #a7cda9;

    
    --color-daybreak-orange-900: #f24d2e;
    --color-daybreak-orange-800: #e95a2e;
    --color-daybreak-orange-700: #e06236;
    --color-daybreak-orange-600: #d76b3e;
    --color-daybreak-orange-500: #ce7546;
    --color-daybreak-orange-400: #f48a52;
    --color-daybreak-orange-300: #ff9b55;
    --color-daybreak-orange-200: #ffa654;
    --color-daybreak-orange-100: #ffb153;

    --color-bootstrap-purple: #6f42c1;
}

.transition__img{
    transition: all 0.3s ease-in-out;
}
.transition__img:hover{
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }    
}

@keyframes bigger {
    0% {
        transform: scale(.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.btn__darkener__light {
    transition: background-color 0.3s ease;
}
.btn__darkener__light:hover {
    background-color: var(--color-kosma-green-700);
}

.fade-in {
    animation: fadeIn 1.5s ease-in-out;
}
.slide-in-1 {
    animation: slide-in 1s ease-in-out;
}
.slide-in-2 {
    animation: slide-in 1.5s ease-in-out;
}
.slide-in-3 {
    animation: slide-in 1.7s ease-in-out;
}

.bigger {
    animation: bigger 1s ease-in;
}

.scale-up{
    transition: transform 0.3s ease;
}
.scale-up:hover{
    transform: scale(1.1);
}